      <%- include('../partials/header') %>
      <div class="about-box">
        <p>
          I’m really into traveling — but also seriously into sailing.<br>
          It’s been a big part of my life for a long time.<br><br>

          I’ve been sailing for 10 years back home in Ukraine —<br>
          7 years of classic sailing and 3 years of windsurfing.<br><br>

          Besides exploring the world on foot, one of my biggest goals<br>
          is to sail around the globe. I want to visit remote places,<br>
          cross the legendary Drake Passage, and feel what it’s like<br>
          to be completely off-grid in the middle of the ocean.<br><br>

          One dream on my radar is to take part in the <strong>Clipper Round the World Race</strong> —<br>
          it’s a global yacht race where everyday people can crew on ocean racing yachts<br>
          and take on some of the most extreme conditions out there.<br>
          The race spans 40,000 nautical miles and visits ports all around the world.<br>
          It’s not just a competition — it’s a once-in-a-lifetime adventure.
        </p>
      </div>

      <%- include('../partials/footer') %> 
      

