      <%- include('../partials/header') %>
        <h1><%=title%></h1>
        <div class="about-box">
          <p>
            I’ve always loved traveling — especially exploring nature.<br>
            There’s something about getting out into the wild that just hits different.<br><br>

            I’ve spent a lot of time traveling around Europe,<br>
            and now I’m focused on exploring the U.S.<br><br>

            One of my biggest goals is to do a full around-the-world tour.<br>
            I’ve got tons of places saved on my list,<br>
            but my top two dream destinations are <strong>Patagonia</strong> and the <strong>Himalayas</strong>.
          </p>

          <hr>

          <h3>Travel in motion</h3>
          <p>
            I try to capture the places I visit through photos and share some of those moments on Instagram.
            Here’s a look at a few of my latest adventures:
          </p>

          <script src="https://static.elfsight.com/platform/platform.js" async></script>
          <div class="elfsight-app-326c1357-f7d8-4cc0-a497-624a05c024ca" data-elfsight-app-lazy></div>
        </div>

      <%- include('../partials/footer') %>

